<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pitt.cidde.portico"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="edu.pitt.cidde.portico.CiddeMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.pitt.cidde.portico.CiddeHowToActivity"
            android:label="@string/title_activity_how_to" >
        </activity>
        <activity
            android:name="edu.pitt.cidde.portico.ViewPagerActivity"
            android:label="@string/title_activity_how_to_view_pager" >
        </activity>
        <activity
            android:name="edu.pitt.cidde.portico.CiddeTroubleshootActivity"
            android:label="@string/title_activity_cidde_troubleshoot" >
        </activity>
        <activity
            android:name="edu.pitt.cidde.portico.CiddeHelpActivity"
            android:label="@string/title_activity_cidde_help" >
        </activity>
        <activity
            android:name="edu.pitt.cidde.portico.CiddeSubmitBugReportActivity"
            android:label="@string/title_activity_cidde_submit_bug_report" >
        </activity>
		
	<!-- Tim's additions -->
	<activity
            android:name="edu.pitt.cidde.portico.ClassRoomInfoActivity"
            android:label="@string/title_activity_class_room_info" >
        </activity>
        <activity
            android:name="edu.pitt.cidde.portico.EquipmentInfoActivity"
            android:label="@string/title_activity_equipment_info" >
        </activity>
	<!-- -->
	
	<!-- Logan's additions -->
	<activity
            android:name="edu.pitt.cidde.portico.CiddeBrowseEquipRooms"
            android:label="@string/title_activity_browse" >
        </activity>
	<!-- -->
	
	<!-- Eimile -->
	<activity android:name="CiddeScanQRcodeActivity">
	</activity>
    </application>
</manifest>
